<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="tests/bootstrap.php" colors="true"
         stopOnFailure="false" processIsolation="false" backupGlobals="false"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.3/phpunit.xsd" cacheDirectory=".phpunit.cache">
    <testsuite name="all">
        <directory>./tests/WooCommerce</directory>
    </testsuite>
    <groups>
        <exclude>
            <group>production</group>
        </exclude>
    </groups>
    <source>
        <include>
            <directory suffix=".php">src/</directory>
        </include>
    </source>
</phpunit>
